<div class="container" ng-controller="pipeAdminCtrl">

    <div class="row" style="margin-bottom: 10px; margin-left: 15px!important;">
          <a href="#/index/register">
            <i class="fa fa-plus-square fa-2x color-travish"> <span class="color-travish"> Add User</span></i>
            <div class="clearfix"></div>
          </a>
    </div>

  <div class="row">

    <div class="col-xs-12 table-responsive">

      <table class="table table-bordered table-striped" st-pipe="callServer" st-table="displayed">
        <thead>
        <tr>
          <th class="text-center background-title">Name</th>
          <th class="text-center background-title">Email</th>
          <th class="text-center background-title">Edit</th>
        </tr>
        <tr>
          <th><input class="input-width" st-search="Client" placeholder="search for name"/></th>
          <th><input class="input-width" st-search="Email" placeholder="search for email"/></th>
          <th>
          </th>
        </tr>
        </thead>
        <tbody ng-show="!isLoading">
        <tr ng-repeat="row in displayed">
          <td><a class="link-travish" ui-sref="index.edit_admin({ id: row.id })">{{row.AdminProfile.name || ""}}</a></td>
          <td>{{row.username}}</td>
          <td><a class="link-travish" ui-sref="index.edit_admin({ id: row.id })"><i class="fa fa-pencil-square-o"></i></a></td>
        </tr>
        </tbody>
        <tbody ng-show="isLoading">
        <tr>
          <td colspan="3" class="text-center">Loading... </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
          <td class="text-center" st-pagination="" st-items-by-page="20" colspan="3">
          </td>
        </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
