<div class="container" ng-controller="ChargeCtrl">
  <form name="registerForm" id="register-form" ng-submit="submit()">
    <div class="row">
      <div class="col-lg-11 col-sm-11 col-xs-10"><h2><i class="fa fa-money"></i> SERVICE FEE</h2></div>
      <div class="col-lg-1 col-sm-1 col-xs-2"> <a ui-sref="index.settings()"><i class="fa fa-times fa-lg close-edit"></i></a></div>

    </div>
    <div class="inset row">
      <p class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <label for="minimum_fee">Base Bags</label>
        <input type="number" name="minimum_fee" id="minimum_fee" ng-model="feeData.minimum_fee" min="0" required>
      </p>
      <p class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <label for="minimum_charge">Fee</label>
        $<input type="number" name="minimum_charge" id="minimum_charge" ng-model="feeData.minimum_charge" min="0.0" step="any" required>
      </p>
      </div>
    <div class="inset row">
      <p class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <label for="extra_bag_fee">Extra Bag</label>
        <input type="number" name="extra_bag_fee" id="extra_bag_fee" ng-model="feeData.extra_bag_fee" min="0" disabled>
      </p>
      <p class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <label for="extra_charge">Fee</label>
        $<input type="number" name="extra_charge" id="extra_charge" ng-model="feeData.extra_charge" min="0.0" step="any" required>
      </p>

    </div>
    <p class="p-container">
      <!--<span>Forgot password ?</span>-->

      <input type="submit" name="go" id="save-register" value="SAVE" ng-disabled='form.$invalid'>
    </p>
  </form>
</div>
