
<div class="container" id="dashboard-table" ng-controller="pipeCtrl">

  <div class="row">

    <div class="col-lg-3 col-md-3 col-sm-3 hidden-xs">
      <div class="widget">
        <div class="widget-body">
          <div class="widget-icon purple pull-left">
            <i class="fa fa-taxi"></i>
          </div>
          <div class="widget-content pull-left">
            <div class="title">{{statistics.inRoute || 0}}</div>
            <div class="comment">Incomming</div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-3 hidden-xs">
      <div class="widget">
        <div class="widget-body">
          <div class="widget-icon purple pull-left">
            <i class="fa fa-building"></i>
          </div>
          <div class="widget-content pull-left">
            <div class="title">{{statistics.atStorage || 0}}</div>
            <div class="comment">At Storage</div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-3 hidden-xs">
      <div class="widget">
        <div class="widget-body">
          <div class="widget-icon purple pull-left">
            <i class="fa fa-truck"></i>
          </div>
          <div class="widget-content pull-left">
            <div class="title">{{statistics.OnTheWay || 0}}</div>
            <div class="comment">On The Way</div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-3 hidden-xs">
      <div class="widget">
        <div class="widget-body">
          <div class="widget-icon purple pull-left">
            <i class="fa fa-plane"></i>
          </div>
          <div class="widget-content pull-left">
            <div class="title">{{statistics.delivered || 0}}</div>
            <div class="comment">Delivered</div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col-xs-12 table-responsive">
      <table class="table table-bordered table-striped" st-pipe="callServer" st-table="displayed">
        <thead>
        <tr>
          <th class="text-center background-title" >Confirmation ID</th>
          <th class="text-center background-title" >Client</th>
          <th class="text-center background-title" >Luggage</th>
          <th class="text-center background-title" >Handing Over</th>
          <th class="text-center background-title" >Terminal</th>
          <th class="text-center background-title" >Status</th>
        </tr>
        <tr>
          <th>
            <input class="input-width" st-search="service" placeholder="Search"/>
          </th>
          <th><input class="input-width" st-search="Client" placeholder="Search"/></th>

          <th><input class="input-number-min center-block text-center" st-search="amount" placeholder="Search"/></th>
          <th> <input class="input-width text-center" st-search="handing_over" placeholder="Search"/></th>
          <th> <input class="input-number-min center-block text-center" st-search="terminal" placeholder="Search"/></th>
          <th>
            <input class="input-status-min center-block text-center" st-search="status" placeholder="Search"/>
          </th>

        </tr>
        </thead>
        <tbody ng-show="!isLoading">
        <tr ng-repeat="row in displayed">
          <td><a class="link-travish" ng-click="openModal('lg',row)">{{row.status}}</a></td>
          <td>{{row.User.CreditCard.cardholderName}}</td>
          <td class="text-center">{{row.luggage_amount}}</td>
          <td class="text-center">{{row.meeting_datetime | date:"MM/dd/yyyy 'at' h:mma"}}</td>
          <td class="text-center">{{row.Flight.terminal}}</td>
          <td class="text-center"><a class="link-travish" ng-click="openModalStatus('lg', row)">{{row.Request.status}}</a></td>
        </tr>
        </tbody>
        <tbody ng-show="isLoading">
        <tr>
          <td colspan="6" class="text-center">Loading ... </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
          <td class="text-center" st-pagination="" st-items-by-page="20" colspan="6">
          </td>
        </tr>
        </tfoot>
      </table>





      <!--template for modal (change status) -->
      <script type="text/ng-template" id="changeStatus.html">
        <div class="modal-header">
          <h3 class="modal-title">Change Status From "<span class="color-red">{{row.Request.status}}</span>" To: {{change}}</h3>
        </div>
        <div class="modal-body">
          <div class="alert alert-danger text-center" ng-show="band_alert" role="alert">{{message}}</div>
          <div class="alert alert-success text-center" ng-show="band_success" role="alert">{{message}}</div>
          <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
              <div class="btn-group btn-group-justified" role="group" aria-label="...">
                <div class="btn-group" role="group">
                  <a class="btn btn-default button-status purple" ng-click="save(row, 'At Storage')"><span class="color-travish"><i class="fa fa-building"></i> At Storage</span></a>
                </div>
                <div class="btn-group" role="group">
                  <a class="btn btn-default button-status purple" ng-click="save(row, 'On The Way')"><span class="color-travish"><i class="fa fa-truck"></i> On The Way</span></a>
                </div>
                <div class="btn-group" role="group">
                  <a class="btn btn-default button-status purple" ng-click="save(row, 'Delivered')"><span class="color-travish"><i class="fa fa-plane"></i> Delivered</span></a>
                </div>
              </div>
            </div>
            <div class="col-lg-3"></div>
          </div>
        </div>

        <div class="modal-footer">
          <button class="btn btn-warning form-control" ng-click="cancel()">Close</button>
        </div>
      </script>
      <!-- End Modals Content -->
    </div>
  </div>

  <div class="row">

    <div class="col-xs-6 hidden-lg hidden-md hidden-sm">
      <div class="widget">
        <div class="widget-body">
          <div class="widget-icon purple pull-left">
            <i class="fa fa-taxi"></i>
          </div>
          <div class="widget-content pull-left">
            <div class="title">{{statistics.inRoute || 0}}</div>
            <div class="comment">Incomming</div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>

    <div class="col-xs-6 hidden-lg hidden-md hidden-sm">
      <div class="widget">
        <div class="widget-body">
          <div class="widget-icon purple pull-left">
            <i class="fa fa-building"></i>
          </div>
          <div class="widget-content pull-left">
            <div class="title">{{statistics.atStorage || 0}}</div>
            <div class="comment">At Storage</div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>

    <div class="col-xs-6 hidden-lg hidden-md hidden-sm">
      <div class="widget">
        <div class="widget-body">
          <div class="widget-icon purple pull-left">
            <i class="fa fa-truck"></i>
          </div>
          <div class="widget-content pull-left">
            <div class="title">{{statistics.OnTheWay || 0}}</div>
            <div class="comment">On The Way</div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>

    <div class="col-xs-6 hidden-lg hidden-md hidden-sm">
      <div class="widget">
        <div class="widget-body">
          <div class="widget-icon purple pull-left">
            <i class="fa fa-plane"></i>
          </div>
          <div class="widget-content pull-left">
            <div class="title">{{statistics.delivered || 0}}</div>
            <div class="comment">Delivered</div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>

  </div>

</div>
<!-- End Main Content -->
<!--template para las modales-->
<script type="text/ng-template" id="myModal.html">
  <div class="modal-print">
    <div class="modal-header">
      <img src="img/travish.PNG" width="120" height="50" class="print center-block" />
      <div class="row">
        <h4 class="col-lg-7 col-md-7 col-sm-7 col-xs-7 modal-title print-font-size-title modal-title">{{ items }} <br />Service Id: {{row.status}} <br />  <span class="no-print">Status: {{row.Request.status}}</span></h4>
        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 text-right qr-code-print"><qrcode version="61" error-correction-level="M" size="100" data="{{qr}}" ng-href="#" download></qrcode></div>

      </div>

    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 print-font-size">

          <br />
          Client: {{row.User.CreditCard.cardholderName}}
          <br />
          Email: {{row.User.username}}
          <br />
          Phone: {{row.User.phone}}
          <br />
          Luggage Amount: {{row.luggage_amount}}
          <br />
          Handing Over: {{row.meeting_datetime | date:"MM/dd/yyyy 'at' h:mma"}}
          <br />
          <span class="no-print">Status: {{row.Request.status}}</span>
          <br />
          <span class="no-print">Request Uber ID:{{row.Request.request_id}}</span>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 print-font-size">

          <br />
          Airport: {{row.Flight.airportName}}
          <br />
          Airline: {{row.Flight.airlineName}}
          <br />
          Terminal: {{row.Flight.terminal}}
          <br />
          Flight Number: {{row.Flight.flightNumber}}
          <br />
          Departure Date: {{row.reservation_date | date:"MM/dd/yyyy 'at' h:mma"}}
          <br />

        </div>
        </div>
      <!--<div class="center-block"><qrcode version="61" error-correction-level="M" size="130" data="{{qr}}" ng-href="#" download></qrcode></div>-->

    </div>

    <div class="modal-footer no-print">
      <div class="row">
        <div class="col-lg-3"></div>
          <button class="col-lg-3 btn btn-primary no-print text-right" onclick="javascript:window.print()"><i class="fa fa-print"></i>
            Print</button>
          <button class="col-lg-3 btn btn-warning no-print text-right" ng-click="cancel()">Cancel</button>
        <div class="col-lg-3"></div>
      </div>

    </div>
  </div>
</script>
<!-- End Main Content -->
