<div class="container" ng-controller="DepotCtrl">

  <form name="registerForm" id="register-form" ng-submit="submit()">
    <div class="row">
      <div class="col-lg-11 col-sm-11 col-xs-10"><h2><i class="fa fa-map-marker"></i> WAREHOUSE ADDRESS</h2></div>
      <div class="col-lg-1 col-sm-1 col-xs-2"> <a ui-sref="index.settings()"><i class="fa fa-times fa-lg close-edit"></i></a></div>

    </div>
    <div class="inset row">
      <p class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <label for="wh-name">Warehouse Name</label>
        <input type="text" name="wh-name" id="wh-name" ng-model="warehouse.name" placeholder="Travish" required>
      </p>
      <p class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <label for="wh-coordinates">Coordinates (latitude,longitude)</label>
        <input type="text" name="wh-coordinates" id="wh-coordinates" ng-model="warehouse.coordinates" placeholder="21.0144837,-89.6026834" required>
      </p>
    </div>
    <div class="inset row">
      <p class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <label for="wh-address">Address</label>
        <textarea cols="40" rows="3" name="wh-address" id="wh-address" ng-model="warehouse.address"></textarea>
      </p>


    </div>
    <p class="p-container">
      <!--<span>Forgot password ?</span>-->

      <input type="submit" name="go" id="save-register" value="SAVE" ng-disabled='form.$invalid'>
    </p>
  </form>
</div>
