<div class="container-fluid" ng-controller="LoginCtrl">
  <form name="loginForm" id="login-form">
    <h1><img src="img/travish_transparent.jpg" width="120" height="50" /></h1>
    <div class="inset">
      <p>
        <label for="email">EMAIL ADDRESS</label>
        <input type="email" name="email" id="email" ng-model="loginData.userName" required>
      </p>
      <p>
        <label for="password">PASSWORD</label>
        <input type="password" name="password" id="password" ng-model="loginData.password" required>
      </p>
      <p>
        <span>{{authError}}</span>
      </p>
      <p>
        <input type="checkbox" name="remember" id="remember" ng-model="loginData.useRefreshTokens">
        <label for="remember">Remember me</label>
      </p>
    </div>
    <p class="p-container">
      <!--<span>Forgot password ?</span>-->
      <input type="submit" name="go" id="go" value="Log in" ng-click="login()" ng-disabled='form.$invalid'>
    </p>
  </form>

</div>
