<div id="page-wrapper" ng-class="{'active': toggle}" ng-cloak ng-controller="MasterCtrl">

  <!-- Sidebar -->

  <div ui-view="sideBar"></div>

  <!-- End Sidebar -->

  <div id="content-wrapper">
    <div class="page-content">

      <!-- Header Bar -->

      <div ui-view="menuHeader"></div>

      <!-- End Header Bar -->

      <!-- Main Content -->
      <section ui-view="dashboard"></section>
    </div><!-- End Page Content -->
  </div><!-- End Content Wrapper -->
</div><!-- End Page Wrapper -->
