<div ng-show="viewMenu" class="row header no-print">
  <div class="col-xs-12">
    <div class="user pull-right">


      <div class="item dropdown">

          <img src="img/travish-bird.png">


      </div>

    </div>
    <div class="meta">
      <div class="page">
        {{title}}
      </div>
      <div class="breadcrumb-links">
        Home / {{section}}
      </div>
    </div>
  </div>
</div>
