
<div class="container" ng-controller="ReportsCtrl">

  <div class="row">

    <div class="col-xs-12 table-responsive">

      <div class="row">
        <div class="col-lg-10 col-md-9 col-sm-9"></div>
        <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12 pull-right"><a data-toggle="tooltip" title="Download PDF Report" id="pdf" ng-click="exportAction('pdf')"><img width="180px" height="120px" src="./img/pdf-icon.png" /></a><a data-toggle="tooltip" title="Download EXCEL Report" id="excel" ng-click="exportAction('excel')"><img src="./img/excel-xls-icon.png" /></a></div>

        </div>
      <table ng-class="table_height" class="table table-bordered table-striped export-table" st-pipe="reports" st-table="displayed" id="export-report">
        <thead>
        <tr class="delete-table">
          <th colspan="6" class="text-center">
            <st-date-range predicate="range" before="query.before" after="query.after"></st-date-range>
          </th>
        </tr>
        <tr id="export-headers">
          <th class="text-center background-title">Client</th>
          <th class="text-center background-title">Phone</th>
          <th class="text-center background-title">Service ID</th>
          <th class="text-center background-title">Luggage</th>
          <th class="text-center background-title">Date</th>
          <th class="text-center background-title">Status</th>
        </tr>
        </thead>
        <tbody ng-show="!isLoading">
        <tr ng-repeat="row in displayed" class="export-body">
          <td>{{row.User.username}}</td>
          <td class="text-center">{{row.User.phone}}</td>
          <td>{{row.Request.request_id}}</td>
          <td class="text-center">{{row.luggage_amount}}</td>
          <td class="text-center">{{ row.createdAt | date:"MM/dd/yyyy 'at' h:mma"}}</td>
          <td class="text-center">{{row.Request.status}}</td>
        </tr>
        </tbody>
        <tbody ng-show="isLoading" class="delete-table">
        <tr class="delete-table">
          <td colspan="6" rowspan="8" class="text-center">{{message}} </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
          <td class="text-center" st-pagination="" st-items-by-page="20" colspan="6">
          </td>
        </tr>
        </tfoot>
      </table>
      <!--template para las modales-->
      <script type="text/ng-template" id="myModal.html">
        <div class="modal-header">
          <h3 class="modal-title">{{ items }}</h3>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-8">
              Client: {{row.User.username}}
              <br />
              Phone: {{row.User.phone}}
            </div>
            <div class="col-md-4"><qrcode version="61" error-correction-level="M" size="200" data="{{qr}}" ng-href="#" download></qrcode></div>
          </div>
        </div>

        <div class="modal-footer">
          <button class="btn btn-warning form-control" ng-click="cancel()">Cerrar modal</button>
        </div>
      </script>
    </div>
  </div>

</div>
<!-- End Main Content -->
