<div class="container" ng-controller="SettingsCtrl">
  <div class="menu-settings center-block">
    <div class="row bottom-line">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-margin-top no-margin-bottom"><h3 class="no-margin-top"><i class="fa fa-cogs"></i> SETTINGS</h3></div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

          <a class="link-icon-travish" href="#/index/manage_admin">
            <div class="text-center travish-icon">
              <i class="fa fa-users fa-2x"></i>
            </div>
            <div class="text-center">Dashboard Users</div>
          </a>

      </div>

      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <a class="link-icon-travish" href="#/index/fee">
            <div class="text-center travish-icon">
              <i class="fa fa-money fa-2x"></i>
            </div>
            <div class="text-center">Fee Management</div>
          </a>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

          <a class="link-icon-travish" href="#/index/depot">
            <div class="text-center travish-icon">
              <i class="fa fa-map-marker fa-2x"></i>
            </div>
            <div class="text-center">Warehouse Address</div>
          </a>
        </div>
      </div>

    </div>

  </div>

</div>
