<div id="sidebar-wrapper" class="no-print">
  <ul class="sidebar">
    <li class="sidebar-main">
      <a ng-click="toggleSidebar()">
        <img src="img/travish.PNG" width="120" height="50" />
        <span class="menu-icon glyphicon glyphicon-transfer"></span>
      </a>
    </li>
    <li class="sidebar-title"><span>NAVIGATION</span></li>
    <li class="sidebar-list">
      <a href="#">Dashboard <span class="menu-icon fa fa-tachometer"></span></a>
    </li>
    <li class="sidebar-list">
      <a href="#/index/reports">Reports <span class="menu-icon fa fa-table"></span></a>
    </li>
    <li class="sidebar-list">
      <a href="#/index/settings">Settings<span class="menu-icon fa fa-cogs"></span></a>
    </li>
    <li class="sidebar-list">
      <a ng-click="logout()">Logout<span class="menu-icon fa fa-sign-out"></span></a>
    </li>

  </ul>

</div>
