<div class="container" ng-controller="SignUpCtrl">
  <form name="registerForm" id="register-form" ng-submit="submit()">
    <div class="row">
      <div class="col-lg-11 col-sm-11 col-xs-10"><h2><i class="fa fa-plus-square"></i> ADD USER</h2></div>
      <div class="col-lg-1 col-sm-1 col-xs-2"> <a ui-sref="index.manage_admin()"><i class="fa fa-times fa-lg close-edit"></i></a></div>

    </div>
    <div class="inset">
      <p>
        <label for="name">NAME</label>
        <input type="text" name="name" id="name" ng-model="registerData.name" required>
      </p>
      <p>
        <label for="email">EMAIL ADDRESS</label>
        <input type="email" name="email" id="email" ng-model="registerData.email" required>
      </p>
      <p>
        <label for="password">PASSWORD</label>
        <input type="password" name="password" id="password" ng-model="registerData.password" required>
      </p>
      <p>
        <label for="password">CONFIRM PASSWORD</label>
        <input type="password" name="confirm" id="confirm" ng-model="registerData.confirm" required>
      </p>

    </div>
    <p class="p-container">
      <!--<span>Forgot password ?</span>-->
      <input type="submit" name="go" id="save-register" value="SAVE" ng-disabled='form.$invalid'>
    </p>
  </form>
</div>
