<div class="row">
  <div class="col-lg-6 col-md-6 col-xs-12">
      <label>From</label>
      <div class="input-group col-lg-12 col-md-12 col-xs-6">
        <input type="text" class="form-control input-reports" datepicker-popup="yyyy/MM/dd" ng-model="from" is-open="isBeforeOpen"
               close-text="Close"/>
        <span class="input-group-btn">
                      <button type="button" class="btn btn-default btn-reports" ng-click="openBefore($event)"><i
                        class="glyphicon glyphicon-calendar"></i></button>
                      </span>
      </div>
    </div>
  <div class="col-lg-6 col-md-6 col-xs-12">
    <label>To</label>
    <div class="input-group col-lg-12 col-md-12 col-xs-6">
      <input type="text" class="form-control input-reports" datepicker-popup="yyyy/MM/dd" ng-model="to" is-open="isAfterOpen"
             close-text="Close"/>
        <span class="input-group-btn">
                      <button type="button" class="btn btn-default btn-reports" ng-click="openAfter($event)"><i
                        class="glyphicon glyphicon-calendar"></i></button>
        </span>
    </div>
  </div>
</div>
