#register-form{
  background:#111;
  max-width: 800px !important;
  margin:30px auto;
  border-radius:0.4em;
  border:1px solid #191919;
  overflow:hidden;
  position:relative;
  color: #95efd7;
  box-shadow: 0 5px 10px 5px rgba(0,0,0,0.2);
}

#arrow-ok{
  margin-left: 15px;
}

#register-form h2{
  margin-left: 30px;
}

#save-register {
  padding:10px 35px;
  border:1px solid rgba(0,0,0,0.4);
  text-shadow:0 -1px 0 rgba(0,0,0,0.4);
  box-shadow:
  inset 0 1px 0 rgba(255,255,255,0.3),
  inset 0 10px 10px rgba(255,255,255,0.1);
  border-radius:0.3em;
  background:#95efd7;
  color:#000000;
  float:right;
  font-weight:bold;
  cursor:pointer;
  font-size:13px;
}

.warning-user{
  font-size: 16px;
  color: #f60000!important;
}

.valid-user{
  font-size: 16px;
  color: #008000!important;
}
