@color-aqua: #95efd7;
.angular-google-map-container { height: 400px; }
textarea:focus{
  border:1px solid @color-aqua;
  outline: none !important;
  box-shadow: 0 0 10px @color-aqua;
}
textarea:hover {
  background:#27292c;
}

textarea {
  width:100%;
  padding:8px 5px;
  background:linear-gradient(#1f2124, #27292c);
  border:1px solid #222;
  box-shadow:
  0 1px 0 rgba(255,255,255,0.1);
  border-radius:0.3em;
  margin-bottom:20px;
}
