.menu-settings{
  background: #111;
  max-width: 600px!important;

  border-radius: .4em;
  border: 1px solid #191919;
  overflow: hidden;
  position: relative;
  color: #70ebca!important;
  box-shadow: 0 5px 10px 5px rgba(0,0,0,.2);
  margin-left: 30px;
  padding-bottom: 20px;
  padding-top: 0px;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.travish-icon{
  margin-top: 10px;
  margin-bottom: 5px;
}

.menu-settings .link-icon-travish{
  color: #70ebca!important;
}

.menu-settings .link-icon-travish:hover{
  color: #3cc48d!important;

}

.bottom-line{
  border-bottom: 1px solid #70ebca!important;
  margin-bottom: 20px;
}
h3 .no-margin-top{
  margin-top: 0px!important;
}
.no-margin-bottom{
  margin-bottom: 0px!important;
}

.input-width{
  width: 100%!important;
}
.print{
  display:none;

}

.modal-title{
  margin-top: 30px;
}

@media print {
  .qr-code-print{
    margin-top: -50px;
  }
  #dashboard-table {display:none;}
  .no-print{display:none;}
  .print{
    display:block;
  }
  .modal-title{
    margin-top: 0px;
  }
  .print-font-size{
    font-size: 12px!important;
  }
  .print-font-size-title{
    font-size: 14px!important;
  }
  .modal-print{
    width: 100%!important;
  }
}
