#content-wrapper {
    padding-left: 0;
    margin-left: 0;
    width: 100%;
    background-color: #ffffff!important;
}
a{
  cursor: pointer;
}

body, html,#content-wrapper, .main-container, #page-wrapper{
  background-color: #ffffff;
}

@media only screen and (min-width:561px){
    #page-wrapper.active {
      //padding-left: 250px;
      padding-left: 210px;
    }
}
@media only screen and (max-width:560px){
    #page-wrapper.active {
      //padding-left: 70px;
      padding-left: 70px;
    }
}
#page-wrapper.active #sidebar-wrapper {
    left: 150px;
}

.input-number-min{
  width: 55px!important;
  font-weight: normal;
}

.input-phone-min{
  width: 105px!important;
  font-weight: normal;
}

.input-status-min{
  width: 130px!important;
  font-weight: normal;
}

input{
  font-weight: normal;
}

.urgent-delivery{
  color: red;
}
.warning-delivery{
  color: orange;
}
.inTime-delivery{
  color:green;
}

.background-title{
  background: #D5D7DA;
}

.button-status:hover{
  width: 100%;
  background: #543d7a !important;
}

.button-status:focus{
  border: 1px solid #900;
}
