@import "variables.less";
@travish-gray: #333;
/* Fonts */
@font-face {
  font-family: 'Montserrat';
  src: url('@{fontPath}/montserrat-regular-webfont.eot');
  src: url('@{fontPath}/montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('@{fontPath}/montserrat-regular-webfont.woff') format('woff'),
       url('@{fontPath}/montserrat-regular-webfont.ttf') format('truetype'),
       url('@{fontPath}/montserrat-regular-webfont.svg#montserratregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
      font-family: 'Montserrat';
      src: url('@{fontPath}/montserrat-regular-webfont.svg') format('svg');
    }
    select {
      font-family: Arial, Helvetica, sans-serif;
    }
}

/* Base */
html {
    overflow-x: scroll;
}
@color-aqua: #95efd7;

.color-travish{
  color:#000000;
}
.close-edit{
  color: @color-aqua;
  margin-top: .6em;
}
body {
    /*background: #f3f3f3;*/
    font-family: "Montserrat";
    color: #333333 !important;
}

html, body,.main-container
{
  background-color: @travish-gray;
  height: 100%!important;
}
.row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.row > div {
    margin-bottom: 15px;
}
.alerts-container .alert:last-child {
    margin-bottom: 0;
}
#page-wrapper {
    padding-left: 70px;
    height: 100%
}
#sidebar-wrapper {
    margin-left: -150px;
    //left: -30px;
    left: 10px;
    //width: 250px;
    width: 210px;
    position: fixed;
    height: 100%;
    z-index: 999;
}
#page-wrapper, #sidebar-wrapper {
    transition: all .4s ease 0s;
}
.container{
  width: 100%;
}
.green {
    background: #23ae89 !important;
}
.blue {
    background: #2361ae !important;
}
.orange {
    background: #d3a938 !important;
}
.red {
    background: #ae2323 !important;
}
.gray {
  background: #333 !important;
}
.purple {
  background: #330563 !important;
}

.light-purple {
  background: #493e63 !important;
}
.form-group .help-block.form-group-inline-message {
    padding-top: 5px;
}
div.input-mask {
    padding-top: 7px;
}

.link-travish{
  color: #3cc48d;
}

.link-travish:hover{
  color: #2c8f67;
}

.color-red{
  color: #ae2323 !important;
}

.color-travish{
  color: #3cc48d;
}

.color-gray{
    color: #333 !important;
}

.color-purple {
  color: #330563 !important;
}
