.track-icon {
  background: #30426a;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  margin-right: 15px;
  i {
    line-height: 66px;
    color: #ffffff;
    font-size: 30px;
  }
}
