 /* #592727 RED */
 /* #2f5927 GREEN */
 /* #30426a BLUE (default)*/

/* Sidebar background color */
 @sidebarBaseColor: #202020;
 /* Sidebar header and footer color */
 @sidebarHeaderColor: darken(@sidebarBaseColor, 2%);
 /* Sidebar title text colour */
 @sidebarTitleColor:  lighten(@sidebarBaseColor, 30%); /*#627cb7*/


 /* Font path: */
 @fontPath: '../fonts';
