/**
 * Widgets
 */
@travish: #70ebca;
@links: #52DCB7;
.widget-2 {
  box-shadow: 1px 1px rgba(0, 0, 0, 0.05);
  background: #95efd7;
  border-radius: 2px;
  border: 1px solid #333;

  .widget-header, .widget-footer {
    .pagination {
      margin: 0;
    }
  }
  .widget-header {
    color: #767676;
    background-color: #f6f6f6;
    padding: 10px 15px;
    border-bottom: 1px solid #e9e9e9;
    line-height: 30px;
    i {
      margin-right: 5px;
    }
    input {
      width: 25%;
    }
  }
  .widget-body {
    padding: 20px;
    table {
      thead {
        background: #fafafa;
        * {
          font-size: 14px !important;
        }
      }
      tbody {
        * {
          font-size: 13px !important;
        }
      }
    }
    .error {
      color: #ff0000;
    }
    button {
      margin-left: 5px;
    }
    div.alert {
      margin-bottom: 10px;
    }
    &.large {
      height: 350px;
      overflow-y: auto;
    }
    &.medium {
      height: 250px;
      overflow-y: auto;
    }
    &.small {
      height: 150px;
      overflow-y: auto;
    }
    &.no-padding {
      padding: 0;
      .error, .message {
        padding: 20px;
      }
    }
  }
  .widget-footer {
    border-top: 1px solid #e9e9e9;
    padding: 10px;
  }
  .widget-icon {
    background: #30426a;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    margin-right: 15px;
    i {
      line-height: 66px;
      color: #ffffff;
      font-size: 30px;
    }
  }
  .widget-content {
    .title {
      font-size: 28px;
      display: block;
    }
  }
}



.widget {
  box-shadow: 1px 1px rgba(0, 0, 0, 0.05);


  border-radius: 2px;
  border: 1px solid #333;
  background-color: #ebebeb;
  .widget-header, .widget-footer {
      .pagination {
        margin: 0;
      }
    }
    .widget-header {
        color: #767676;
        background-color: #f6f6f6;
        padding: 10px 15px;
        border-bottom: 1px solid #e9e9e9;
        line-height: 30px;
        i {
            margin-right: 5px;
        }
        input {
            width: 25%;
        }
    }
    .widget-body {
        padding: 20px;
        table {
            thead {
                background: #fafafa;
                * {
                    font-size: 14px !important;
                }
            }
            tbody {
                * {
                    font-size: 13px !important;
                }
            }
        }
        .error {
            color: #ff0000;
        }
        button {
            margin-left: 5px;
        }
        div.alert {
            margin-bottom: 10px;
        }
        &.large {
          height: 350px;
          overflow-y: auto;
        }
        &.medium {
          height: 250px;
          overflow-y: auto;
        }
        &.small {
          height: 150px;
          overflow-y: auto;
        }
        &.no-padding {
          padding: 0;
          .error, .message {
            padding: 20px;
          }
        }
    }
    .widget-footer {
      border-top: 1px solid #e9e9e9;
      padding: 10px;
    }
    .widget-icon {
        background: #30426a;
        width: 65px;
        height: 65px;
        border-radius: 50%;
        text-align: center;
        vertical-align: middle;
        margin-right: 15px;
        i {
            line-height: 66px;
            color: @travish;
            font-size: 30px;
        }
    }
    .widget-content {
        .title {
            font-size: 28px;
            display: block;
        }
    }
}
.widget-2 a{
  color: #333;
}

.widget-2 a:hover{
  color: #636D6D;
}


@media only screen and (max-width:1199px){
  .widget {
    box-shadow: 1px 1px rgba(0, 0, 0, 0.05);


    border-radius: 2px;
    border: 1px solid #333;
    background-color: #ebebeb;
    .widget-header, .widget-footer {
      .pagination {
        margin: 0;
      }
    }
    .widget-header {
      color: #767676;
      background-color: #f6f6f6;
      padding: 10px 15px;
      border-bottom: 1px solid #e9e9e9;
      line-height: 20px;
      i {
        margin-right: 5px;
      }
      input {
        width: 15%;
      }
    }
    .widget-body {
      padding: 15px;
      table {
        thead {
          background: #fafafa;
          * {
            font-size: 11px !important;
          }
        }
        tbody {
          * {
            font-size: 12px !important;
          }
        }
      }
      .error {
        color: #ff0000;
      }
      button {
        margin-left: 5px;
      }
      div.alert {
        margin-bottom: 10px;
      }
      &.large {
        height: 300px;
        overflow-y: auto;
      }
      &.medium {
        height: 200px;
        overflow-y: auto;
      }
      &.small {
        height: 100px;
        overflow-y: auto;
      }
      &.no-padding {
        padding: 0;
        .error, .message {
          padding: 20px;
        }
      }
    }
    .widget-footer {
      border-top: 1px solid #e9e9e9;
      padding: 10px;
    }
    .widget-icon {
      background: #30426a;
      width: 45px;
      height: 45px;
      border-radius: 50%;
      text-align: center;
      vertical-align: middle;
      margin-right: 15px;
      i {
        line-height: 40px;
        color: @travish;
        font-size: 20px;
      }
    }
    .widget-content {
      .title {
        font-size: 20px;
        display: block;
      }
    }
  }
}


@media only screen and (max-width:936px){
  .widget {
    box-shadow: 1px 1px rgba(0, 0, 0, 0.05);
    min-width: 160px;
    border-radius: 2px;
    border: 1px solid #333;
    background-color: #ebebeb;
    .widget-header, .widget-footer {
      .pagination {
        margin: 0;
      }
    }
    .widget-header {
      color: #767676;
      background-color: #f6f6f6;
      padding: 5px 10px;
      border-bottom: 1px solid #e9e9e9;
      line-height: 15px;
      i {
        margin-right: 5px;
      }
      input {
        width: 20%;
      }
    }
    .widget-body {
      padding: 10px;
      table {
        thead {
          background: #fafafa;
          * {
            font-size: 10px !important;
          }
        }
        tbody {
          * {
            font-size: 11px !important;
          }
        }
      }
      .error {
        color: #ff0000;
      }
      button {
        margin-left: 5px;
      }
      div.alert {
        margin-bottom: 8px;
      }
      &.large {
        height: 250px;
        overflow-y: auto;
      }
      &.medium {
        height: 150px;
        overflow-y: auto;
      }
      &.small {
        height: 50px;
        overflow-y: auto;
      }
      &.no-padding {
        padding: 0;
        .error, .message {
          padding: 18px;
        }
      }
    }
    .widget-footer {
      border-top: 1px solid #e9e9e9;
      padding: 5px;
    }
    .widget-icon {
      background: #30426a;
      width: 35px;
      height: 35px;
      border-radius: 50%;
      text-align: center;
      vertical-align: middle;
      margin-right: 15px;
      display: block;
      i {
        line-height: 33px;
        color: @travish;
        font-size: 15px;
      }
    }
    .widget-content {
      .title {
        font-size: 11px;
        display: block;
      }
    }
  }
}

@media only screen and (max-width:767px){
  .widget {
    box-shadow: 1px 1px rgba(0, 0, 0, 0.05);

    min-width: 200px;
    border-radius: 2px;
    border: 1px solid #333;
    background-color: #ebebeb;
    .widget-header, .widget-footer {
      .pagination {
        margin: 0;
      }
    }
    .widget-header {
      color: #767676;
      background-color: #f6f6f6;
      padding: 10px 15px;
      border-bottom: 1px solid #e9e9e9;
      line-height: 30px;
      i {
        margin-right: 5px;
      }
      input {
        width: 25%;
      }
    }
    .widget-body {
      padding: 20px;
      table {
        thead {
          background: #fafafa;
          * {
            font-size: 14px !important;
          }
        }
        tbody {
          * {
            font-size: 13px !important;
          }
        }
      }
      .error {
        color: #ff0000;
      }
      button {
        margin-left: 5px;
      }
      div.alert {
        margin-bottom: 10px;
      }
      &.large {
        height: 350px;
        overflow-y: auto;
      }
      &.medium {
        height: 250px;
        overflow-y: auto;
      }
      &.small {
        height: 150px;
        overflow-y: auto;
      }
      &.no-padding {
        padding: 0;
        .error, .message {
          padding: 20px;
        }
      }
    }
    .widget-footer {
      border-top: 1px solid #e9e9e9;
      padding: 10px;
    }
    .widget-icon {
      background: #30426a;
      width: 35px;
      height: 35px;
      border-radius: 50%;
      text-align: center;
      vertical-align: middle;
      margin-right: 15px;
      display: block;
      i {
        line-height: 33px;
        color: @travish;
        font-size: 15px;
      }
    }
    .widget-content {
      .title {
        font-size: 11px;
        display: block;
      }
    }
  }
}


@media only screen and (max-width:520px){
  .widget {
    box-shadow: 1px 1px rgba(0, 0, 0, 0.05);
    display:block;
    min-width: 100px;
    border-radius: 2px;
    border: 1px solid #333;
    background-color: #ebebeb;
    .widget-header, .widget-footer {
      .pagination {
        margin: 0;
      }
    }
    .widget-header {
      color: #767676;
      background-color: #f6f6f6;
      padding: 10px 15px;
      border-bottom: 1px solid #e9e9e9;
      line-height: 30px;
      i {
        margin-right: 5px;
      }
      input {
        width: 25%;
      }
    }
    .widget-body {
      padding: 20px;
      table {
        thead {
          background: #fafafa;
          * {
            font-size: 14px !important;
          }
        }
        tbody {
          * {
            font-size: 13px !important;
          }
        }
      }
      .error {
        color: #ff0000;
      }
      button {
        margin-left: 5px;
      }
      div.alert {
        margin-bottom: 10px;
      }
      &.large {
        height: 350px;
        overflow-y: auto;
      }
      &.medium {
        height: 250px;
        overflow-y: auto;
      }
      &.small {
        height: 150px;
        overflow-y: auto;
      }
      &.no-padding {
        padding: 0;
        .error, .message {
          padding: 20px;
        }
      }
    }
    .widget-footer {
      border-top: 1px solid #e9e9e9;
      padding: 10px;
    }
    .widget-icon {
      background: #30426a;
      width: 35px;
      height: 35px;
      border-radius: 50%;
      text-align: center;
      vertical-align: middle;
      margin-right: 15px;
      display: block;
      i {
        line-height: 33px;
        color: @travish;
        font-size: 15px;
      }
    }
    .widget-content {
      .title {
        font-size: 15px;
        margin-top: 10px;
      }
      .comment{
        display:none;
      }
    }
  }
}
