@color-aqua: #95efd7;
@travish-gray: #333;

.img-login{
  width: 60px;
  height: 60px;
}
.container-fluid{
  background-color: @travish-gray;
  margin: 0;
  padding: 0;
  color:@color-aqua;
  width: 100%!important;
  height: 100%!important;

}
body, html,.main-container, .container-fluid
{
  background-color: @travish-gray;
  height: 100%!important;
}
#login-form {
  background:#111;
  width:300px;
  margin:30px auto;
  border-radius:0.4em;
  border:1px solid #191919;
  overflow:hidden;
  position:relative;
  box-shadow: 0 5px 10px 5px rgba(0,0,0,0.2);
}

#login-form:after {
  content:"";
  display:block;
  position:absolute;
  height:1px;
  width:100px;
  left:20%;
  background:linear-gradient(left, #111, #444, #b6b6b8, #444, #111);
  top:0;
}

#login-form:before {
  content:"";
  display:block;
  position:absolute;
  width:8px;
  height:5px;
  border-radius:50%;
  left:34%;
  top:-7px;
  box-shadow: 0 0 6px 4px #fff;
}

.inset {
  padding:20px;
  border-top:1px solid @color-aqua;
}

#login-form h1 {
  font-size:18px;
  text-shadow:0 1px 0 black;
  text-align:center;
  padding:15px 0;
  background-color: @color-aqua;
  margin-top: 0!important;
  border-bottom:1px solid rgba(0,0,0,1);
  position:relative;
}

#login-form h1:after {
  content:"";
  display:block;
  width:250px;
  height:100px;
  position:absolute;
  top:0;
  left:50px;
  pointer-events:none;
  transform:rotate(70deg);
  -webkit-transform: rotate(70deg);
  background:linear-gradient(50deg, rgba(255,255,255,0.15), rgba(0,0,0,0));
  background-image: -webkit-linear-gradient(50deg, rgba(255,255,255,0.05), rgba(0,0,0,0)); /* For Safari */


}

label {
  color:#666;
  display:block;
  padding-bottom:9px;
}

input[type=text],
input[type=email],
input[type=password] {
  width:100%;
  padding:8px 5px;
  background:linear-gradient(#1f2124, #27292c);
  border:1px solid #222;
  box-shadow:
  0 1px 0 rgba(255,255,255,0.1);
  border-radius:0.3em;
  margin-bottom:20px;
}

label[for=remember]{
  color:white;
  display:inline-block;
  padding-bottom:0;
  padding-top:5px;
}

input[type=checkbox] {
  display:inline-block;
  vertical-align:top;
}

.p-container {
  padding:0 20px 20px 20px;
}

.p-container:after {
  clear:both;
  display:table;
  content:"";
}

.p-container span {
  display:block;
  float:left;
  color:#0d93ff;
  padding-top:8px;
}

input[type=submit] {
  padding:5px 20px;
  border:1px solid rgba(0,0,0,0.4);
  text-shadow:0 -1px 0 rgba(0,0,0,0.4);
  box-shadow:
  inset 0 1px 0 rgba(255,255,255,0.3),
  inset 0 10px 10px rgba(255,255,255,0.1);
  border-radius:0.3em;
  background:@color-aqua;
  color:#000000;
  float:right;
  font-weight:bold;
  cursor:pointer;
  font-size:13px;
}

input[type=submit]:hover {
  box-shadow:
  inset 0 1px 0 rgba(255,255,255,0.3),
  inset 0 -10px 10px rgba(255,255,255,0.1);
}

input[type=text]:hover,
input[type=email]:hover,
input[type=password]:hover,
label:hover ~ input[type=text],
label:hover ~ input[type=password] {
  background:#27292c;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus{
  border:1px solid @color-aqua;
  outline: none !important;
  box-shadow: 0 0 10px @color-aqua;
}


input[type="number"][disabled] {
  background: rgba(110, 112, 115, 0.77);
}
