.input-reports{
  background: #ffffff!important;
}


.input-reports:focus{
  border:1px solid #27292c!important;
  outline: none !important;
  box-shadow: 0 0 10px #27292c!important;
}

.btn-reports{
  border:1px solid #27292c;
}


#excel img{
  width: 3.7em;
  height: 3.7em;
}

#pdf img{
  margin-right: 1em;
  width: 3.7em;
  height: 3.7em;
}

.table-heigh-responsive{
  min-height: 350px!important;
}

